ion-header {
    background: var(--white);

    ion-item {
        padding: 0 0 5px 0px;
        min-height: unset !important;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        background: var(--white);
        margin: 0;
        --animate-duration: .2s;

        .item_inner {
            width: 100%;

            .item_info {
                padding: 10px 20px;
                padding-top: 0;

                .itme_img {
                    min-width: 37px;
                    height: 37px;
                    margin-right: 15px;
                    border-radius: 5px;

                }

                .item_details {
                    width: 100%;

                    h3 {
                        margin: 0;
                        font-size: .95rem;
                        color: var(--text-black);
                        font-weight: 600;
                        padding-bottom: 5px;

                        span {
                            &.order_status {
                                color: var(--primary);
                                font-weight: 500;
                                font-size: 0.9rem;
                                min-width: fit-content;
                            }
                        }
                    }

                    h4 {
                        margin: 0;
                        color: var(--text-light);
                        font-size: .8rem;
                        font-weight: 500;
                        letter-spacing: .3px;
                    }
                }
            }
        }

        &.delivered {
            .item_inner .item_info .item_details h3 span.order_status {
                color: var(--text-black);
            }
        }
    }
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .delivery_location {
        position: absolute;
        width: 22px;
    }

    ion-icon {
        position: absolute;
        z-index: 3;
        background: var(--primary);
        color: var(--white);
        border-radius: 50%;
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 1.3rem;
        --animate-duration: .45s;

    }
}

ion-list {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 71px;
    overflow: hidden;
    transition: all .3s;
    z-index: 99;
    background: none;
    --animate-duration: .2s;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        background: var(--bg-color);
    }


    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        background: var(--white);
        padding: 13px 20px;
        margin-bottom: 8px;
        --min-height: unset;

        .item_inner {
            width: 100%;
        }

        &.profile_info {
            .item_inner {
                .img_box {
                    min-width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    margin-right: 15px;
                }

                .text_box {
                    h2 {
                        margin: 0;
                        color: var(--text-black);
                        font-size: 1rem;
                        padding-bottom: 4px;
                    }

                    h3 {
                        margin: 0;
                        color: var(--text-light);
                        font-size: .81rem;
                        font-weight: 400;
                        letter-spacing: .5px;
                    }
                }

                .icon_box {
                    min-width: fit-content;

                    ion-icon {
                        color: var(--primary);
                        font-size: 1.45rem;
                        min-width: 34px;
                    }
                }
            }
        }
    }

    .item_list {
        margin-bottom: 8px;
        --animate-duration: .2s;

        ion-item {
            margin-bottom: 1px;

            .item_inner {

                .text_box {
                    width: 100%;

                    h3 {
                        margin: 0;
                        color: var(--text-black);
                        font-size: 0.94rem;
                        font-weight: 500;
                        letter-spacing: 0.3px;

                        img {
                            display: block;
                            width: 14px;
                            min-width: 14px;
                        }
                    }

                    p {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        font-size: 0.87rem;
                        font-weight: 500;
                        text-align: center;

                        strong {
                            display: block;
                            min-width: 23px;
                            font-size: .9rem;
                        }
                    }

                    .item_price {
                        width: fit-content;
                        min-width: 35%;
                    }

                    h4 {
                        margin: 0;
                        color: var(--text-black);
                        font-size: 0.9rem;
                        font-weight: 400;
                        min-width: 55px;
                    }

                    &.customise {
                        padding-top: 10px;

                        h3 {
                            font-weight: 400 !important;
                            font-size: 0.9rem;
                        }
                    }
                }

            }
        }
    }

    .form {
        padding: 0;

        ion-item {
            .item_inner.d-flex {
                align-items: center !important;
            }

            .icon_box {
                position: relative;
                top: 2px;
            }

            .input_box {
                border: none !important;
                padding: 0 !important;

                ion-input {
                    font-size: 0.9rem !important;
                    --padding-top: 6px !important;
                    --padding-bottom: 6px !important;
                }
            }
        }
    }

    .payment_info {
        h1 {
            padding: 13px 20px;
            margin: 0;
            color: var(--text-dark);
            background: var(--white);
            font-size: .9rem;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            position: relative;
        }

        ion-item {
            margin-bottom: 1px;
            --min-height: unset;

            .item_inner {
                h3 {
                    margin: 0;
                    color: var(--text-black);
                    font-size: 0.95rem;
                    font-weight: 400;
                    letter-spacing: 0.3px;
                }

                h2 {
                    margin: 0;
                    color: var(--text-black);
                    font-size: 0.95rem;
                    font-weight: 600;
                    padding: 0;

                    span {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &.active {
        height: 100%;
        overflow-y: scroll;

        ion-item.location_detail .item_inner.d-flex ion-icon.zmdi-chevron-up {
            transform: rotate(-180deg);
        }
    }
}

ion-footer {
    background: var(--bg-color);
    padding: 13px 20px;
 --animate-duration: .25s;

    h2 {
        margin: 0;
        font-size: 1.1rem;
        color: var(--text-black)
    }

    h6 {
        margin: 0;
        padding: 4px 14px;
        border-radius: 50px;
        color: var(--primary);
        border: 1px solid var(--primary);
        font-size: 0.9rem;
        min-width: 134px;
        text-align: center;
        display: flex !important;
        align-content: center;
        width: fit-content;
        min-width: fit-content;
        position: relative;
        overflow: hidden;
        min-width: 134px;

        span {
            display: block;
            position: relative;
            z-index: 999;

            &:nth-child(even) {
                display: none;
            }

        }

        ion-icon {
            font-size: 1.6rem;
            width: 19px;
            transition: all .3s;
        }
    }

    &.active {
        h6 {
            span {
                display: block;

                &:nth-child(even) {
                    display: block;
                }

                &:nth-child(odd) {
                    display: none;
                }

            }

            ion-icon {
                transform: rotate(-180deg);

            }
        }
    }
}

.list_inner {
    max-height: calc(100vh - 276px);
    overflow: hidden;
    width: 100%;
    overflow-y: auto;
}