<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'confirm_order' | translate}}</ion-title>
    </ion-toolbar>
    <div class="shop_name">
        <h2>Food Junction</h2>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <div class="item_list">
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="text_box">
                        <div class="d-flex">
                            <h3 class="d-flex"><img src="assets/images/ic_veg.png">&nbsp;&nbsp; Veg Sandwich</h3>
                            <div class="end item_price">
                                <p class="end">
                                    <span>-</span>
                                    <strong>1</strong>
                                    <span>+</span>
                                </p>
                                <h4 class="ion-text-end">$ 5.00</h4>
                            </div>
                        </div>
                    </div>

                    <div class="text_box customise">
                        <div class="d-flex">
                            <h3 class="d-flex"><img>&nbsp;&nbsp; Extra Cheese</h3>
                            <div class="end item_price">
                                <h4 class="ion-text-end">$ 3.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="text_box">
                        <div class="d-flex">
                            <h3 class="d-flex"><img src="assets/images/ic_nonveg.png">&nbsp;&nbsp; Fried Chicken</h3>
                            <div class="end item_price">
                                <p class="end">
                                    <span>-</span>
                                    <strong>1</strong>
                                    <span>+</span>
                                </p>
                                <h4 class="ion-text-end">$ 7.00</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="text_box">
                        <div class="d-flex">
                            <h3 class="d-flex"><img src="assets/images/ic_veg.png">&nbsp;&nbsp; Watermelon Juice</h3>
                            <div class="end item_price">
                                <p class="end">
                                    <span>-</span>
                                    <strong>1</strong>
                                    <span>+</span>
                                </p>
                                <h4 class="ion-text-end">$ 4.50</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </div>

        <div class="form animate__animated animate__fadeInUp">
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="icon_box ion-text-start"><img src="assets/images/ic_promocode.png"></div>
                    <div class="input_box">
                        <ion-input mode="md" type="name" placeholder="{{'enter_promocode' | translate}}"></ion-input>
                    </div>
                    <h3 class="end">{{'apply' | translate}}</h3>
                </div>
            </ion-item>
        </div>

        <div class="payment_info">
            <h1>{{'payment_info' | translate}}</h1>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex">{{'sub_total' | translate}} <span class="end">$ 19.50</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex">{{'service_fee' | translate}} <span class="end">$ 1.50</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">{{'amount_to_pay' | translate}} <span class="end">$ 21.50</span></h2>
                </div>
            </ion-item>
        </div>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <div class="delivery_address">
        <h2 class="d-flex">
            <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
            {{'deliver_to' | translate}}&nbsp;
            <span class="ion-text-uppercase">Home</span>
            <!--            <span class="end">{{'change' | translate}}</span>-->
        </h2>
        <p> Flat num, 114, Frist Floor, Central Residency 1024, Central Residency Hemilton Park, New York, USA</p>
    </div>
    <ion-button size="large" expand="full" class="btn" (click)="payment()">{{'pay' | translate}} $ 21.00</ion-button>
</ion-footer>