.form {
    border-top: 6px solid var(--bg-color);
    padding-top: 50%;

    h2 {
        margin: 0;
        font-size: 1.13rem;
        line-height: 21px;
        width: calc(100% - 33px);
        font-weight: 600;
        color: var(--text-light);

    }

    ion-list {

    }


}

.animate__animated.animate__fadeInUp {
    &:nth-child(1) {
        --animate-duration: .15s;
    }

    &:nth-child(2) {
        --animate-duration: .2s;
    }

    &:nth-child(3) {
        --animate-duration: .25s;
    }

    &:nth-child(4) {
        --animate-duration: .3s;
    }

    &:nth-child(5) {
        --animate-duration: .35s;
    }

    &:nth-child(6) {
        --animate-duration: .4s;
    }

    &:nth-child(7) {
        --animate-duration: .45s;
    }

    &:nth-child(8) {
        --animate-duration: .5s;
    }

}



ion-footer {
    --animate-duration: .4s !important;

}
.Aligner {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}
.Aligner-item--top{
    padding-bottom: 23%;
}
.Aligner-item {
    max-width: 100%;
}
.Aligner-item--bottom{
margin-left: 20px}
.content{
    --background: var(--bg-color) !important;
}