<!--
<ion-header>
  <ion-toolbar>
    <ion-title>variation-selection</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content fullscreen (click)="dismiss()">

</ion-content>
<ion-footer class="ion-no-border">
    <ion-list lines="none">
        <div class="list_header d-flex">
            <div class="text_box">
                <h2>{{plat.nom}}</h2>
                <h3 class="d-flex"> <img src="assets/images/ic_veg.png">&nbsp;&nbsp; {{prix|currency:"EUR":"symbol"}}</h3>
            </div>
            <h6 class="end" (click)="dismiss()">{{'add' | translate}}</h6>
        </div>
        <div *ngFor="let modificateur of plat.modificateurs; let i=index">
            <div class="list_header d-flex">
        <div class="text_box">
            <h2>{{modificateur.nom}}</h2>
           
        </div></div>
        <ion-item *ngFor="let ingredient of modificateur.ingredients"  class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <ion-checkbox checked="true" [(ngModel)]="ingredient.checked"  (ionChange)="addIngredient($event,ingredient,plat.modificateurs[i].prix)"  ></ion-checkbox>
                <h2 class="d-flex">{{ingredient.nom}}<span class="end">{{plat.modificateurs[i].prix|currency:"EUR":"symbol"}}</span></h2>
            </div>
        </ion-item>
    </div>
        
        
    </ion-list>
</ion-footer>