<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'favorites' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food Junction <ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_2.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Hunger Spot<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_3.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Food by Jesica<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_4.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Fishchef<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        2.4 km | Fish Street
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_5.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Seven Star Restro<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.5
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="items()" class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/rs_6.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">Operum Food Plaza<ion-icon class="zmdi zmdi-favorite end ion-text-end"></ion-icon></h3>
                    <h4>Fast Food, Italian, Chinese</h4>

                    <h5 class="d-flex">
                        <ion-icon class="zmdi zmdi-star ion-text-start"></ion-icon>
                        4.2
                    </h5>

                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        5.6 km | City Food Park
                    </h4>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>