<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                {{'offers' | translate}}
                <span class="end">{{'tab_to_copy' | translate}}</span>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner d-flex">
                <div class="offers_details">
                    <h2>Buy 2 Get 1 Free</h2>
                    <p>Buy 2 food item and get 1 absolutely free.</p>
                </div>
                <div class="end code ion-text-center">
                    <h5>FFE2G1</h5>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>